.weeks__text-div {
  width: 430px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.weeks__input {
  width: 1200px;
  height: 80px;
  text-align: center;
}

.modal__title {
  width: 440px;
  font-size: 23px;
  margin-bottom: 0;
}

.weeks__text-div p {
  width: 430px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 11px;
}
.weeks__text-div h1 {
  margin-bottom: 20px;
}

h1 {
  margin: 0 auto;
}

.btnDone {
  margin-left: 200px;
}

@media only screen and (max-width: 510px) {
  .modal__title {
    width: 370px;
    font-size: 18px;
  }
  .weeks__input {
    width: 300px;
    margin-right: auto;
  }
  .weeks__text-div p {
    text-align: left;
  }
  .weeks__text-div h1 {
    text-align: left;
    margin: initial;
  }
  .btnDone {
    margin: inherit;
  }
}
@media only screen and (max-width: 420px) {
  .weeks__input {
    width: 150px;
    height: 80px;
    text-align: center;
    margin-right: auto;
  }
  .modal__title {
    font-size: 12px;
    width: 230px;
  }
  .weeks__text-div p {
    text-align: left;
  }
  .weeks__text-div h1 {
    text-align: left;
    margin: initial;
  }
  .btnDone {
    margin: inherit;
  }
}
